<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.9 2008/03/31 06:05:30 terui Exp $
-->

<plugin>

	<extension-point id="wrapperfactory" name="WrapperFactory" schema="schema/wrapperfactory.exsd"/>	
	<extension-point id="propertysheetpageextentionpoint" name="propertysheetpageextentionpoint" schema="schema/propertysheetpageextentionpoint.exsd"/>

	<extension point="org.eclipse.emf.ecore.generated_package">
   		<package uri = "http://rtm.aist.go.jp/toolscommon/model/core" 
   			class = "jp.go.aist.rtm.toolscommon.model.core.CorePackage" /> 
   		<package uri = "http://rtm.aist.go.jp/toolscommon/model/component" 
   			class="jp.go.aist.rtm.toolscommon.model.component.ComponentPackage"/>
	</extension>
	<extension point="jp.go.aist.rtm.toolscommon.wrapperfactory">
		<mappingrule seq="100"  mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.NameValueImpl.MAPPING_RULE"/>
		<mappingrule seq="200"  mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.ConnectorProfileImpl.MAPPING_RULE"/>
		<mappingrule seq="300"  mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.PortProfileImpl.MAPPING_RULE"/>
		<mappingrule seq="400"  mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.ConfigurationSetImpl.MAPPING_RULE"/>
		<mappingrule seq="600"  mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.ComponentImpl.MAPPING_RULE"/>
		<mappingrule seq="700"  mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.InPortImpl.MAPPING_RULE"/>
		<mappingrule seq="800"  mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.OutPortImpl.MAPPING_RULE"/>
		<mappingrule seq="900"  mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.ServicePortImpl.MAPPING_RULE"/>
		<mappingrule seq="1000" mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.PortConnectorImpl.MAPPING_RULE"/>
		<mappingrule seq="1100" mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.LifeCycleStateImpl.MAPPING_RULE"/>
		<mappingrule seq="1200" mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.ExecutionContextImpl.MAPPING_RULE"/>
		<mappingrule seq="1900" mappingrule="jp.go.aist.rtm.toolscommon.model.core.impl.UnknownObjectImpl.MAPPING_RULE"/>
	</extension>
	
	<extension point="jp.go.aist.rtm.toolscommon.propertysheetpageextentionpoint">
		<propertysheetpage displayclass="jp.go.aist.rtm.toolscommon.model.component.AbstractComponent"/>
	</extension>
	
	<extension  point="org.eclipse.core.runtime.adapters">
	 <factory
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.core.UnknownObject">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <factory
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.component.AbstractPortConnector">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <factory
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.component.AbstractComponent">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <factory
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.component.Port">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <factory
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.component.LifeCycleState">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <factory    
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.component.PortInterfaceProfile">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <factory
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.component.ExecutionContext">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
    </extension>
    <!--
	<extension point = "org.eclipse.ui.actionSets"> 
		<actionSet
			id="jp.go.aist.rtm.toolscommon.ui.actionSet" 
			label="RT Tools Common Actions">
			<action
				id="jp.go.aist.rtm.toolscommon.ui.action.AboutRtcLinkAction" 
				label="&amp;About RT Tools Common"
				menubarPath="help/AboutRTTC"
				icon="icons/RT.png"
				tooltip="About RT Tools Common" 
				class="jp.go.aist.rtm.toolscommon.ui.action.AboutRtcLinkAction"> 
			</action>
		</actionSet>
	</extension>
	-->
	<!--
	<extension
		point = "org.eclipse.ui.preferencePages">
		<page
			id="jp.go.aist.rtm.toolscommon.ui.preference.MainPreferencePage"
			class="jp.go.aist.rtm.toolscommon.ui.preference.MainPreferencePage"
			name="RT System Editor">
		</page>
		<page
			id="jp.go.aist.rtm.systemeditor.ui.preference.SynchronizationPreferencePage"
			class="jp.go.aist.rtm.toolscommon.ui.preference.SynchronizationPreferencePage"
			name="同期"
			category="jp.go.aist.rtm.toolscommon.ui.preference.MainPreferencePage">
		</page>
	</extension>
	-->
	
</plugin>
