<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///com/bsil/cats/uml/state.ecore" 
       class = "com.bsil.cats.uml.state.StatePackage"
       genModel = "model/StateMachine.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///com/bsil/cats/uml/state/model.ecore" 
       class = "com.bsil.cats.uml.state.model.ModelPackage"
       genModel = "model/StateMachine.genmodel" /> 
  </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           class="jp.go.aist.rtm.fsmcbuilder.ui.editors.FsmcBuilderEditor"
           contributorClass="jp.go.aist.rtm.fsmcbuilder.FsmcBuilderActionBarContributor"
           extensions="fsmcbuilder"
           icon="icons/fsm.ico"
           id="jp.go.aist.rtm.fsmcbuilder.ui.editors.FsmcBuilderEditor"
           name="FSM Component Builder"/>
  </extension>
  <extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           id="jp.go.aist.rtm.fsmcbuilder.ui.actionSet"
           label="FSM Component Builder Actions">
        <action
              class="jp.go.aist.rtm.fsmcbuilder.ui.action.NewFsmCBuilderEditorAction"
              icon="icons/fsm.ico"
              id="jp.go.aist.rtm.fsmcbuilder.ui.action.NewFsmCBuilderEditorAction"
              label="&amp;Open New FSM Builder Editor"
              menubarPath="file/FsmCBuilderGroup"
              toolbarPath="FsmCBuilder"
              tooltip="Open New FsmCBuilder Editor"/>
     </actionSet>
  </extension>

	<extension
		point="org.eclipse.emf.edit.itemProviderAdapterFactories">
		<factory uri="http:///jp/go/aist/rtm/fsmbuilder"
			class="jp.go.aist.rtm.fsmcbuilder.model.provider.ModelItemProviderAdapterFactory"
			supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
	</extension>
 <extension
       point="org.eclipse.ui.popupMenus">
    <objectContribution
          adaptable="true"
          id="jp.go.aist.rtm.fsmcbuilder.ui.objectContribution.Transition"
          objectClass="jp.go.aist.rtm.fsmcbuilder.ui.editpart.TransitionEditPart">
       <action
             class="jp.go.aist.rtm.fsmcbuilder.ui.editors.action.SwitchDirectionAction"
             id="jp.go.aist.rtm.fsmcbuilder.ui.switchDirection"
             label="Switch Direction"
             menubarPath="additions"/>
    </objectContribution>
 </extension>
</plugin>

