<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="editpartfactory" name="EditPartFactory" schema="schema/editpartfactory.exsd"/>
   
   <!--extension point="org.eclipse.emf.ecore.generated_package">
      <package uri="http://rtm.aist.go.jp/systemeditor/model/systemeditor" class="jp.go.aist.rtm.toolscommon.model.component.ComponentPackage"/>
   </extension -->

	<extension point="jp.go.aist.rtm.systemeditor.editpartfactory">
		<editpart seq="100" targetclass="jp.go.aist.rtm.toolscommon.model.component.InPort" editpartclass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.InPortEditPart" />
		<editpart seq="200" targetclass="jp.go.aist.rtm.toolscommon.model.component.OutPort" editpartclass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.OutPortEditPart" />
		<editpart seq="300" targetclass="jp.go.aist.rtm.toolscommon.model.component.ServicePort" editpartclass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.ServicePortEditPart" />
		<editpart seq="400" targetclass="jp.go.aist.rtm.toolscommon.model.component.AbstractPortConnector" editpartclass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.PortConnectorEditPart" />
		<editpart seq="500" targetclass="jp.go.aist.rtm.toolscommon.model.component.AbstractComponent" editpartclass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.ComponentEditPart" />
		<editpart seq="600" targetclass="jp.go.aist.rtm.toolscommon.model.component.SystemDiagram" editpartclass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.SystemDiagramEditPart" />
	</extension>
	
	<extension point="jp.go.aist.rtm.toolscommon.propertysheetpageextentionpoint">
		<propertysheetpage displayclass="jp.go.aist.rtm.toolscommon.model.component.AbstractPortConnector"/>
	</extension>

    <extension point="org.eclipse.ui.perspectives">
        <perspective 
            id="jp.go.aist.rtm.systemeditor.ui.perspective.RtcLinkPerspective" 
            name="RT System Editor" 
            class="jp.go.aist.rtm.toolscommon.ui.perspective.RtcLinkPerspective" 
            icon="icons/RT.png"> 
        </perspective> 
    </extension> 
	<extension
		point="org.eclipse.ui.editors">
		<editor
			name="System Editor"
			contributorClass="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditorContributor"
			icon="icons/on.png"
			extensions="xml"
			class="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor"
			id="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			name="Offline System Editor"
			contributorClass="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditorContributor"
			icon="icons/off.png"
			extensions="xml"
			class="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor"
			id="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor">
		</editor>
	</extension>

	<extension
		point="org.eclipse.ui.views">
		<category
			name="RT System Editor"
			id="rtse">
		</category>
		<view
			name="Configuration View"
			icon="icons/Configuration.gif"
			category="rtse"
			class="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView"
			id="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView">
		</view>
		<view
			name="RT Log View"
			icon="icons/RT_icon.png"
			category="rtse"
			class="org.eclipse.ui.internal.console.ConsoleView"
			id="jp.go.aist.rtm.systemeditor.ui.views.RTLogView">
		</view>
		<view
			name="Manager Modules"
			icon="icons/RT_icon.png"
			category="rtse"
			class="org.eclipse.ui.internal.console.ConsoleView"
			id="jp.go.aist.rtm.systemeditor.ui.views.ManagerModulesView">
		</view>
		<view
			name="Manager Components"
			icon="icons/RT_icon.png"
			category="rtse"
			class="org.eclipse.ui.internal.console.ConsoleView"
			id="jp.go.aist.rtm.systemeditor.ui.views.ManagerComponentsView">
		</view>
	</extension>
	
	<extension
		point="org.eclipse.ui.editorActions">
		<editorContribution
			targetID="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor"
			id="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor.editorActions">
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllStop" 
				label="All Stop" 
				toolbarPath="additions" 
				icon="icons/AllStop.gif" 
				tooltip="All Stop" 
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllStart" 
				label="All Start" 
				toolbarPath="additions" 
				icon="icons/AllStart.gif" 
				tooltip="All Start" 
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllDeactivate" 
				label="All Deactivate" 
				toolbarPath="additions" 
				icon="icons/AllDeactivate.gif" 
				tooltip="All Deactivate" 
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllActivate" 
				label="All Activate" 
				toolbarPath="additions" 
				icon="icons/AllActivate.gif" 
				tooltip="All Activate" 
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>	         
		</editorContribution>
		<!--
		<editorContribution
			targetID="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor"
			id="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor.editorActions">
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllStop" 
				label="Refresh Offline System Editor" 
				toolbarPath="additions" 
				icon="icons/Refresh.png"
				tooltip="Refresh Offline System Editor"
				class="jp.go.aist.rtm.systemeditor.ui.editor.action.RefreshOfflineSystemDiagramEditorAction"> 
			</action>
		</editorContribution>
		-->
	</extension>
	
    <extension  point="org.eclipse.core.runtime.adapters">
        <factory    
            class="jp.go.aist.rtm.systemeditor.adapterfactory.AdapterFactory"
            adaptableType="jp.go.aist.rtm.systemeditor.ui.editor.editpart.ComponentEditPart">
                <adapter type="jp.go.aist.rtm.toolscommon.model.component.AbstractComponent"/>
        </factory>
    </extension>

	<extension
		point="org.eclipse.ui.popupMenus">
		<viewerContribution
			id="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor.contribution" 
			targetID="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor">
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllStop" 
				label="All Stop" 
				menubarPath="all"
				icon="icons/AllStop.gif" 
				tooltip="All Stop"
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllStart" 
				label="All Start" 
				menubarPath="all"
				icon="icons/AllStart.gif" 
				tooltip="All Start" 
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllDeactivate" 
				label="All Deactivate" 
				menubarPath="all"
				icon="icons/AllDeactivate.gif" 
				tooltip="All DeactivateO" 
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllActivate" 
				label="All Activate" 
				menubarPath="all"
				icon="icons/AllActivate.gif" 
				tooltip="All Activate" 
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>	
		</viewerContribution>
		
		<viewerContribution
			id="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor.combine" 
			targetID="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor">
			<visibility>
				<objectClass name="java.lang.Object"/>
			</visibility>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.CombineActionDelegate"
				label="Create Composite Component"
				menubarPath="additions"
				class="jp.go.aist.rtm.systemeditor.ui.action.CombineActionDelegate">
			</action>
		</viewerContribution>
		<viewerContribution
			id="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor.combine" 
			targetID="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor">
			<visibility>
				<objectClass name="java.lang.Object"/>
			</visibility>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.CombineActionDelegate"
				label="Create Composite Component"
				menubarPath="additions"
				class="jp.go.aist.rtm.systemeditor.ui.action.CombineActionDelegate">
			</action>
		</viewerContribution>
		<!--
		<viewerContribution
			id="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor.Refresh" 
			targetID="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor">
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllStop" 
				label="Refresh Offline System Editor" 
				menubarPath="all" 
				icon="icons/Refresh.png"
				class="jp.go.aist.rtm.systemeditor.ui.editor.action.RefreshOfflineSystemDiagramEditorAction"> 
			</action>
		</viewerContribution>
		-->
 		<objectContribution
			id="jp.go.aist.rtm.systemeditor.ui.objectContribution.Component"
        	objectClass="jp.go.aist.rtm.toolscommon.model.component.AbstractComponent"
        	adaptable="true">
        	<visibility>
				<objectClass name="jp.go.aist.rtm.toolscommon.model.component.Component"/>
			</visibility>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Exit"
				label="Exit"
				menubarPath="component"
				class="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate">
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Finalize"
				label="Finalize"
				menubarPath="component"
				class="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate">
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Reset"
				label="Reset"
				menubarPath="component"
				class="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate">
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Deactivate"
				label="Deactivate"
				menubarPath="component"
				class="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate">
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Activate"
				label="Activate"
				menubarPath="component"
				class="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate">
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.executioncontext.Stop"
				label="Stop"
				menubarPath="executionContext"
				class="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate">
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.executioncontext.Start"
				label="Start"
				menubarPath="executionContext"
				class="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate">
			</action>
		</objectContribution>
		<objectContribution
			id="jp.go.aist.rtm.systemeditor.ui.objectContribution.Component"
        	objectClass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.ComponentEditPart"
			adaptable="true">
			<action id="jp.go.aist.rtm.systemeditor.ui.action.OpenCompositeComponentAction"
				label="Open With System Diagram Editor"
				enablesFor="1"
				menubarPath="additions"
				class="jp.go.aist.rtm.systemeditor.ui.action.OpenCompositeComponentFormPopupMenuActionDelegate">
			</action>
		</objectContribution>
	</extension>

	<extension point = "org.eclipse.ui.actionSets"> 
		<actionSet
			id="jp.go.aist.rtm.systemeditor.ui.actionSet" 
			label="RT System Editor Actions"> 
			<action
				id="jp.go.aist.rtm.systemeditor.ui.action.NewOfflineSystemDiagramEditorAction" 
				label="&amp;Open New Offline System Editor"
				menubarPath="file/RTSEGroup" 
				toolbarPath="RTSE"
				icon="icons/off.png" 
				tooltip="Open New Offline System Editor" 
				class="jp.go.aist.rtm.systemeditor.ui.action.NewOfflineSystemDiagramEditorAction"> 
			</action>
			<action
				id="jp.go.aist.rtm.systemeditor.ui.action.NewSystemDiagramEditorAction" 
				label="&amp;Open New System Editor"
				menubarPath="file/RTSEGroup" 
				toolbarPath="RTSE"
				icon="icons/on.png" 
				tooltip="Open New System Editor" 
				class="jp.go.aist.rtm.systemeditor.ui.action.NewSystemDiagramEditorAction"> 
			</action>
			
			<action
				id="jp.go.aist.rtm.systemeditor.ui.action.AboutAction" 
				label="&amp;About RT System Editor"
				menubarPath="help/"
				icon="icons/RT.png"
				tooltip="About RT System Editor" 
				class="jp.go.aist.rtm.systemeditor.ui.action.AboutAction"> 
			</action>
		</actionSet>
	</extension>

	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="jp.go.aist.rtm.systemeditor.ui.perspective.RtcLinkPerspective">
			<actionSet id="jp.go.aist.rtm.nameserviceview.ui.actionSet"/>
			<actionSet id="jp.go.aist.rtm.systemeditor.ui.actionSet"/>
			<view
				ratio="0.2"
				relative="org.eclipse.ui.editorss"
				relationship="left"
				id="jp.go.aist.rtm.nameserviceview.ui.views.nameserviceview.NameServiceView">
			</view>
			<view
				relative="jp.go.aist.rtm.nameserviceview.ui.views.nameserviceview.NameServiceView"
				relationship="stack"
				id="jp.go.aist.rtm.repositoryView.view">
			</view>
			<view
				ratio="0.7"
				relative="org.eclipse.ui.editorss"
				relationship="right"
				id="org.eclipse.ui.views.PropertySheet">
			</view>
			<view
				ratio="0.6"
				relative="org.eclipse.ui.editorss"
				relationship="bottom"
				id="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView">
			</view>
			<view
				relative="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView"
				relationship="stack"
				id="jp.go.aist.rtm.systemeditor.ui.views.RTLogView">
			</view>
			
			<view
				relative="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView"
				relationship="stack"
				id="jp.go.aist.rtm.systemeditor.ui.views.ManagerModulesView">
			</view>
			<view
				relative="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView"
				relationship="stack"
				id="jp.go.aist.rtm.systemeditor.ui.views.ManagerComponentsView">
			</view>
			
			<viewShortcut id="jp.go.aist.rtm.nameserviceview.ui.views.nameserviceview.NameServiceView"/>
			<viewShortcut id="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView"/>
			<viewShortcut id="jp.go.aist.rtm.systemeditor.ui.views.RTLogView"/>
			<viewShortcut id="jp.go.aist.rtm.systemeditor.ui.views.ManagerModulesView"/>
			<viewShortcut id="jp.go.aist.rtm.systemeditor.ui.views.ManagerComponentsView"/>
		</perspectiveExtension>
	</extension>
	
	<extension
		point = "org.eclipse.ui.preferencePages">
		<page
			id="jp.go.aist.rtm.systemeditor.ui.preference.MainPreferencePage"
			class="jp.go.aist.rtm.systemeditor.ui.preference.MainPreferencePage"
			name="RT System Editor">
		</page>
		<page
			id="jp.go.aist.rtm.systemeditor.ui.preference.SystemEditorPreferencePage"
			class="jp.go.aist.rtm.systemeditor.ui.preference.SystemEditorPreferencePage"
			name="接続"
			category="jp.go.aist.rtm.systemeditor.ui.preference.MainPreferencePage">
		</page>
		<page
			id="jp.go.aist.rtm.systemeditor.ui.preference.ColorPreferencePage"
			class="jp.go.aist.rtm.systemeditor.ui.preference.ColorPreferencePage"
			name="表示色"
			category="jp.go.aist.rtm.systemeditor.ui.preference.MainPreferencePage">
		</page>
  <page
        category="jp.go.aist.rtm.systemeditor.ui.preference.MainPreferencePage"
        class="jp.go.aist.rtm.systemeditor.ui.preference.OfflineEditorPreferencePage"
        id="jp.go.aist.rtm.systemeditor.ui.preference.OfflineEditorPreferencePage"
        name="オフライン・エディタ"/>
	</extension>
	
   <extension 
      point = "org.eclipse.emf.ecore.extension_parser">
      <parser 
      		type="xml" 
      		class="org.eclipse.emf.ecore.xmi.impl.XMLResourceFactoryImpl"/>
   </extension>
   
</plugin>

