<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
    	<package uri="http://rtm.aist.go.jp/nameserviceview/model/nameserviceview" class="jp.go.aist.rtm.nameserviceview.model.nameservice.NameservicePackage"/>
	</extension>

	<extension point="jp.go.aist.rtm.toolscommon.wrapperfactory">
		<mappingrule seq="500" mappingrule="jp.go.aist.rtm.nameserviceview.model.nameservice.impl.NamingObjectNodeImpl.MAPPING_RULE"/>
		<mappingrule seq="1300" mappingrule="jp.go.aist.rtm.nameserviceview.model.nameservice.impl.HostNamingContextImpl.MAPPING_RULE"/>
		<mappingrule seq="1400" mappingrule="jp.go.aist.rtm.nameserviceview.model.nameservice.impl.ManagerNamingContextImpl.MAPPING_RULE"/>
		<mappingrule seq="1500" mappingrule="jp.go.aist.rtm.nameserviceview.model.nameservice.impl.ModuleNamingContextImpl.MAPPING_RULE"/>
		<mappingrule seq="1600" mappingrule="jp.go.aist.rtm.nameserviceview.model.nameservice.impl.CategoryNamingContextImpl.MAPPING_RULE"/>
		<mappingrule seq="1700" mappingrule="jp.go.aist.rtm.nameserviceview.model.nameservice.impl.NameServerNamingContextImpl.MAPPING_RULE"/>
		<mappingrule seq="1800" mappingrule="jp.go.aist.rtm.nameserviceview.model.nameservice.impl.NamingContextNodeImpl.MAPPING_RULE"/>
	</extension>

	<extension
		point="org.eclipse.ui.views">
		<category
			name="OpenRTP Tools"
			id="OpenRTP">
		</category>
		<view
			name="Name Service View"
			icon="icons/Connect.png"
			category="OpenRTP"
			class="jp.go.aist.rtm.nameserviceview.ui.views.nameserviceview.NameServiceView"
			id="jp.go.aist.rtm.nameserviceview.ui.views.nameserviceview.NameServiceView">
		</view>
	</extension>
	<extension
		point = "org.eclipse.ui.viewActions">
		<viewContribution 
			id="jp.go.aist.rtm.nameserviceview.ui.views.nameserviceview.NameServiceView.contribution" 
			targetID="jp.go.aist.rtm.nameserviceview.ui.views.nameserviceview.NameServiceView">        
			<action id="jp.go.aist.rtm.nameserviceview.ui.action.AddNameServiceAction" 
				label="Add Name Server" 
				menubarPath="additions"
				toolbarPath="additions" 
				icon="icons/Connect.png" 
				tooltip="Add Name Server" 
				helpContextId=""
				class="jp.go.aist.rtm.nameserviceview.ui.action.AddNameServiceAction" > 
			</action>
			<action id="jp.go.aist.rtm.nameserviceview.ui.action.RefreshNameServerAction" 
				label="Refresh" 
				menubarPath="additions"
				toolbarPath="additions" 
				icon="icons/Refresh.png" 
				tooltip="Refresh Name Service" 
				helpContextId=""
				class="jp.go.aist.rtm.nameserviceview.ui.action.RefreshNameServerAction" > 
			</action>
			<action id="jp.go.aist.rtm.nameserviceview.ui.action.FilterAction" 
				label="&amp;Filter..." 
				menubarPath="additions"
				toolbarPath="additions" 
				icon="icons/filter_ps.gif" 
				tooltip="Name Serviceview Filter" 
				helpContextId=""
				class="jp.go.aist.rtm.nameserviceview.ui.action.FilterAction" > 
			</action>
		</viewContribution>
	</extension>
	
	<extension  point="org.eclipse.core.runtime.adapters">
		<factory class="jp.go.aist.rtm.nameserviceview.adapterfactory.AdapterFactory"
            adaptableType="jp.go.aist.rtm.nameserviceview.model.nameservice.NamingObjectNode">
                <adapter type="jp.go.aist.rtm.toolscommon.model.component.AbstractComponent"/>
        </factory>
        <factory
            class="jp.go.aist.rtm.nameserviceview.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.nameserviceview.model.nameservice.Node">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     	</factory>
    </extension>
    
    <extension
		point="org.eclipse.ui.popupMenus">
		<viewerContribution
			id="jp.go.aist.rtm.nameserviceview.ui.viewerContribution"
			targetID="jp.go.aist.rtm.nameserviceview.ui.views.nameserviceview.NameServiceView" >
			<action id="jp.go.aist.rtm.nameserviceview.ui.action.AddNameServiceAction" 
				label="Add Name Server" 
				icon="icons/Connect.png" 
				menubarPath="additions"
				helpContextId=""
				class="jp.go.aist.rtm.nameserviceview.ui.action.AddNameServiceAction" > 
			</action>
			<action id="jp.go.aist.rtm.nameserviceview.ui.action.RefreshNameServerAction"
				label="Refresh"
				icon="icons/Refresh.png"
				menubarPath="additions"
				helpContextId=""
				class="jp.go.aist.rtm.nameserviceview.ui.action.RefreshNameServerAction">	
			</action>
		</viewerContribution>
		<objectContribution
			id="jp.go.aist.rtm.nameserviceview.ui.action.AddObjectAction"
        	objectClass="jp.go.aist.rtm.nameserviceview.model.nameservice.NamingContextNode">
			<action id="jp.go.aist.rtm.nameserviceview.ui.action.AddObjectAction" 
				label="Add Object" 
				enablesFor="1"
				menubarPath="namingContextObjectContribution"
				helpContextId=""
				class="jp.go.aist.rtm.nameserviceview.ui.action.AddObjectAction" > 
			</action>
		</objectContribution>
		<objectContribution
			id="jp.go.aist.rtm.nameserviceview.ui.action.AddContextAction"
        	objectClass="jp.go.aist.rtm.nameserviceview.model.nameservice.NamingContextNode">
			<action id="jp.go.aist.rtm.nameserviceview.ui.action.AddContextAction" 
				label="Add Context" 
				enablesFor="1"
				menubarPath="namingContextObjectContribution"
				helpContextId=""
				class="jp.go.aist.rtm.nameserviceview.ui.action.AddContextAction" > 
			</action>
		</objectContribution>
			
		<objectContribution
			id="jp.go.aist.rtm.nameserviceview.ui.action.DeleteINamingContextActionDelegate"
        	objectClass="java.lang.Object">
			<visibility> 
				<and>
					<or>
						<objectClass name="jp.go.aist.rtm.nameserviceview.model.nameservice.NamingContextNode"/> 
						<objectClass name="jp.go.aist.rtm.nameserviceview.model.nameservice.NamingObjectNode"/> 
					</or>
					<not>
						<objectClass name="jp.go.aist.rtm.nameserviceview.model.nameservice.NameServerNamingContext"/> 
					</not>
				</and>
			</visibility>
			<action id="jp.go.aist.rtm.nameserviceview.ui.action.DeleteINamingContextActionDelegate"
				label="Delete from Name Service"
				menubarPath="namingContextObjectContribution"
				class="jp.go.aist.rtm.nameserviceview.ui.action.DeleteINamingContextActionDelegate">
			</action>
		</objectContribution>

		<objectContribution
			id="jp.go.aist.rtm.nameserviceview.ui.action.DeleteNameServiceAction"
        	objectClass="jp.go.aist.rtm.nameserviceview.model.nameservice.NameServerNamingContext">
			<action id="jp.go.aist.rtm.nameserviceview.ui.action.DeleteNameServiceAction"
				label="Delete from View"
				menubarPath="namingContextObjectContribution"
				class="jp.go.aist.rtm.nameserviceview.ui.action.DeleteNameServiceAction">
			</action>
		</objectContribution>
		
	</extension>

	<extension point = "org.eclipse.ui.actionSets"> 
		<actionSet
			id="jp.go.aist.rtm.nameserviceview.ui.actionSet"
			label="RT Name Service View Actions">
			<action
				id="jp.go.aist.rtm.nameserviceview.ui.action.AboutAction"
				label="&amp;About RT Name Service View"
				menubarPath="help/"
				icon="icons/RT.png"
				tooltip="About RT Name Service View"
				class="jp.go.aist.rtm.nameserviceview.ui.action.AboutAction"> 
			</action>
		</actionSet>
	</extension>

	<!--	
	<extension point="org.eclipse.ui.perspectiveExtensions">
	    <perspectiveExtension 
	        targetID="org.eclipse.ui.resourcePerspective" >
	        <view
				relative="org.eclipse.ui.views.ResourceNavigator"
				visible="false"
				relationship="stack"
				id="jp.go.aist.rtm.nameserviceview.ui.views.nameserviceview.NameServiceView">
			</view>
			<view
				ratio="0.7"
				relative="org.eclipse.ui.editorss"
				visible="false"
				relationship="right"
				id="org.eclipse.ui.views.PropertySheet">
			</view>
	        <viewShortcut id="jp.go.aist.rtm.nameserviceview.ui.views.nameserviceview.NameServiceView"/>
	    </perspectiveExtension>
	</extension>
	-->

	<extension
		point = "org.eclipse.ui.preferencePages">
		<page
			id="jp.go.aist.rtm.nameserviceview.ui.preference.MainPreferencePage"
			class="jp.go.aist.rtm.nameserviceview.ui.preference.MainPreferencePage"
			name="RT Name Service View">
		</page>
		<page
			id="jp.go.aist.rtm.nameserviceview.ui.preference.NameServiceViewPreferencePage"
			class="jp.go.aist.rtm.nameserviceview.ui.preference.NameServiceViewPreferencePage"
			name="接続"
			category="jp.go.aist.rtm.nameserviceview.ui.preference.MainPreferencePage">
		</page>
		
		<page
			id="jp.go.aist.rtm.nameserviceview.ui.preference.SynchronizationPreferencePage"
			class="jp.go.aist.rtm.nameserviceview.ui.preference.SynchronizationPreferencePage"
			name="同期"
			category="jp.go.aist.rtm.nameserviceview.ui.preference.MainPreferencePage">
		</page>
	</extension>
	
</plugin>
