<html>
<body>
RTMに関するクラス群。
<p>
多くのRTMのクラスをEMFによってラッピングする。<br>
ラッピングの目的は以下のとおり
<ul style="list-style-type: square">
<li>EMFの状態変更通知機能を使用する</li>
<li>EMFのXML永続化機能を使用する</li>
<li>EMFの強力なリフレクション機能を使用する。（リモートオブジェクト間の同期処理を行うのに都合が良い）</li>
<li>UIに必要な追加情報を保持する</li>
<li>リモートオブジェクトの情報のキャッシュ（プロパティページなどは一度に多くの情報を必要とするため、キャッシュしないとリモートオブジェクトに負担がかかる）</li>
<li>RtcLink内部でクラスが分かれていた方が処理上都合が良いことがある（InPortやOutPortは、RTCでは同じPortクラスだが、RtcLink内部ではクラスを分けている）</li>
<li>[ValueObject（IDLにおいてstructで定義）の場合]equalsメソッドの定義を行い、同期の際に編集されているか検出する（ただし、この場合にはEMFである必要がないため通常のクラスとしてラッピングしているものが多い）</li>
</ul>
以上のような目的があるためラッピングしているが、この目的に合致していないものについては、ラップする必要がないためRTCへの直接のアクセスを許している。レイアとしてRTCを完全に隠すことは目的としない。<br>
</body>
</html>
