<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="jp.go.aist.rtm.rtctemplate.ui.editors.RtcTemplateEditor"
			extensions="rtctemplate"
			icon="icons/RTCTemplate.png"
			id="jp.go.aist.rtm.rtctemplate.ui.editors.RtcTemplateEditor"
			name="RTC Template Editor"/>
	</extension>
	
	<extension
		point="org.eclipse.ui.popupMenus">
		<viewerContribution
			id="jp.go.aist.rtm.rtctemplate.ui.viewerContribution.savaas"
			targetID="jp.go.aist.rtm.rtctemplate.ui.editors.RtcTemplateEditor" >
			<action id="jp.go.aist.rtm.rtctemplate.ui.action.SaveAsAction" 
				label="Save As..." 
				menubarPath="file"
				class="jp.go.aist.rtm.rtctemplate.ui.action.SaveAsAction" > 
			</action>
		</viewerContribution>
		<viewerContribution
			id="jp.go.aist.rtm.rtctemplate.ui.viewerContribution.save"
			targetID="jp.go.aist.rtm.rtctemplate.ui.editors.RtcTemplateEditor" >
			<visibility>
				<objectState name="dirty" value="true"/>
			</visibility>
			<action id="jp.go.aist.rtm.rtctemplate.ui.action.SaveAction" 
				label="Save" 
				menubarPath="file"
				class="jp.go.aist.rtm.rtctemplate.ui.action.SaveAction" > 
			</action>
		</viewerContribution>
		<viewerContribution
			id="jp.go.aist.rtm.rtctemplate.ui.viewerContribution.open"
			targetID="jp.go.aist.rtm.rtctemplate.ui.editors.RtcTemplateEditor" >
			<action id="jp.go.aist.rtm.rtctemplate.ui.action.OpenAction" 
				label="Open..." 
				menubarPath="file"
				class="jp.go.aist.rtm.rtctemplate.ui.action.OpenAction" > 
			</action>
　　　　   </viewerContribution>
  　　</extension>
   
	<extension point = "org.eclipse.ui.actionSets"> 
		<actionSet
			id="jp.go.aist.rtm.rtctemplate.ui.actionSet" 
			label="RTC Template Actions"> 
			<action
				id="jp.go.aist.rtm.rtctemplate.ui.action.NewRtcTemplateEditorAction" 
				label="&amp;Open New Template Editor"
				menubarPath="file/RtcTemplateGroup" 
				toolbarPath="RtcTemplate"
				icon="icons/RTCTemplate.png" 
				tooltip="Open New RtcTemplate Editor" 
				class="jp.go.aist.rtm.rtctemplate.ui.action.NewRtcTemplateEditorAction"> 
			</action>
		</actionSet>
	</extension>

	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="jp.go.aist.rtm.rtclink.ui.perspective.RtcLinkPerspective">
     
			<actionSet id="jp.go.aist.rtm.rtctemplate.ui.actionSet"/> 
		</perspectiveExtension>
	</extension>
</plugin>
